@font-face {
    font-family: 'SegoeUI';
    src: url(fonts/SegoeUI.ttf) format('truetype'),
    url(fonts/SegoeUI.woff) format('woff'),
    url(fonts/SegoeUI.woff2) format('woff2'),
    url(fonts/SegoeUI.svg) format('svg');
}
*{
    font-family: 'SegoeUI';
    margin: 0;
    padding: 5px;
    font-weight: lighter;
}
.container {
    background: #333;
    outline-width: 2px;
    outline-color: #777;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}
.inputweb, .webname, .title {
    background: none;
    outline: none;
    border: none;
    color: #fff;
    font-family: 'SegoeUI';
}
.inputweb::placeholder {
    color: #fff;
}