@font-face {
    font-family: 'Segoe-UI';
    src: url(fonts/SegoeUI.ttf) format('truetype'),
    url(fonts/SegoeUI.woff) format('woff'),
    url(fonts/SegoeUI.woff2) format('woff2'),
    url(fonts/SegoeUI.svg) format('svg');
    src: url(fonts/SegoeUI.eot) format('embedded-opentype');
    font-weight: normal;
}
*{
    font-family: 'Segoe-UI';
    margin: 0;
    padding: 5px;
    font-weight: lighter;
}
.container {
    background: #333;
    outline-width: 2px;
    outline-color: #777;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 8px; margin-right: 8px; margin-top: 8px; margin-bottom: 8px;
}
.website {
    border-radius: 10px;
    width: 1600px;
    height: 700px;
    margin-left: auto; margin-right: auto;
}
.inputweb, .webname, .title, .GO, .https, .www, .com, .httpsANDwwwANDcom {
    background: none;
    outline: none;
    border: none;
    color: #fff;
    font-family: 'Segoe-UI';
    border-radius: 0px;
    margin-left: auto; margin-right: auto;
}
.inputweb::placeholder {
    color: #fff;
}
.inputweb, .GO, .https, .www, .com, .httpsANDwwwANDcom {
    border-radius: 5px;
    border: #ffffff;
}
